{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<section class="cart" style="position: relative; top: 100px;">
    <div class="container justify-content-center align-items-center mt-4 p-4 mb-5">
        <h2>Shopping Cart</h2>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded d-md-block">
                    <div class="table-responsive">
                        {% for item in cart_items %}
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </div>
                            <div class="col-md-3">
                                <p class="mb-0 d-none d-md-block"><strong>Name</strong></p>
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            </div>
                            <div class="col-md-2">
                                <p class="mb-0 d-none d-md-block"><strong>Price</strong></p>
                                <p class="my-0">${{ item.product.price }}</p>
                            </div>
                            <div class="col-md-2">
                                <p class="mb-0 d-none d-md-block"><strong>Qty</strong></p>
                                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group input-group-{{ item.item_id }}">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black bg-black rounded-0 decrement-qty_{{ item.item_id }}"
                                                        data-item_id="{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm text-white"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black bg-black rounded-0 increment-qty_{{ item.item_id }}"
                                                        data-item_id="{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm text-white"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-0 d-none d-md-block"><strong>Subtotal</strong></p>
                                    <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                        </p>
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Products</span>
                        </a>
                        <a href="" class="btn btn-black rounded-0 btn-lg">
                            <span class="text-uppercase">Go to Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
                {% else %}
                <p class="mt-4" style="font-size: 1.2rem;">There is nothing here yet.</p>
                <div class="d-grid gap-2 mt-4 col-4">
                    <a href="{% url 'products' %}" class="btn btn-primary bg-black text-white border-black fw-bold" type="button">Order Now</a>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var url = `/cart/remove/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken};

    $.post(url, data)
     .done(function() {
         location.reload();
     });
});

</script>
{% endblock %}