.info-form input {
    margin-top: .5rem;
    border: 1px solid #191919;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

.profile-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.icon {
    width: 2.75rem;
    height: 2.4375rem;
    background-color: #fff;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #191919;
    transition: .3s ease-in-out;
}

.icon:hover {
    background-color: #191919;
}

.info p {
    font-size: 1rem;
    padding-top: .7rem;
}

