{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Hero section -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 home">
            <h1>Discover culinary delights in every bowl!</h1>
            <p>Join BlissBowl on a culinary journey – explore our menu and find your favorite bowl today!</p>
            <div class="">
                <h4><a href="" class="text-white bg-black rounded-5">Explore Bowls Now</a></h4>
            </div>
        </div>
    </div>
</div>
<!-- Categories section -->
<section class="categories">
    <div class="container">
        <h2 class="p-2">Categories</h2>
        <div class="row d-flex justify-content-center align-items-center ">
                <div class="card pb-2 category-card">
                    <div class="card-body category-body chicken-category">
                      <a href="#" class="card-link">Chicken Bowls</a>
                    </div>
                  </div>
                <div class="card pb-2 category-card">
                    <div class="card-body category-body fish-category ">
                        <a href="#" class="card-link">Fish Bowls</a>
                    </div>
                  </div>
                <div class="card pb-2 category-card">
                    <div class="card-body category-body beef-category ">
                        <a href="#" class="card-link">Beef Bowls</a>
                    </div>
                  </div>
                <div class="card pb-2 category-card">
                    <div class="card-body category-body veggie-category">
                        <a href="#" class="card-link">Veggie Bowls</a>
                    </div>
                  </div>
        </div>
    </div>
</section>
<!-- Products section -->
<section class="products">
    <div class="container">
        <h2 class="p-2">Our Bowls</h2>
        <div class="row d-flex justify-content-center g-1">
            <div class="card mb-3 product-box">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/media/beef-broccoli-brown-rice-bowl.png" class="img-fluid rounded-start p-2" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Beef Broccoli Bowl</h5>
                            <a href="" class="badge rounded-pill chicken-category">Chicken Bowls</a>
                            <p class="card-text"><small class="text-body-secondary">€15.00</small></p>
                            <a href="" class="bg-black rounded-5">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 product-box">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/media/buffalo-chicken-quinoa-bowl.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 product-box">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/media/buffalo-chicken-quinoa-bowl.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials section -->
<section class="categories">
    <div class="container">
        <h2 class="p-2">What People Say</h2>
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
</section>
{% endblock %}