{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- Hero section -->
<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-md-6 home">
        <div class="home-text">
          <h1>Discover culinary delights in every bowl!</h1>
          <p>Join BlissBowl on a culinary journey – explore our menu and find your favorite bowl today!</p>
          <div>
              <h4><a href="{% url 'products' %}" class="btn btn-primary border-black bg-black rounded-5 text-white mt-2">Explore Our Bowls</a></h4>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Categories section -->
<section class="categories">
    <div class="container justify-content-center align-items-center mt-4">
        <h2 class="p-4">Categories</h2>
        <div class="row d-flex justify-content-center align-items-center">
              <div class="card category-card mb-1">
                  <div class="card-body category-body chicken-category">
                    <span><iconify-icon icon="fluent:food-chicken-leg-24-regular" style="color: #eb6424;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Chicken" class="card-link">Chicken Bowls</a>
                  </div>
              </div>
              <div class="card category-card mb-1">
                  <div class="card-body category-body fish-category">
                    <span><iconify-icon icon="mingcute:fish-line" style="color: #4078a1;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Fish" class="card-link">Fish Bowls</a>
                  </div>
              </div>
              <div class="card category-card mb-1">
                  <div class="card-body category-body beef-category">
                    <span><iconify-icon icon="mdi:beef" style="color: #c0522f;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Beef" class="card-link">Beef Bowls</a>
                  </div>
              </div>
              <div class="card category-card mb-1">
                  <div class="card-body category-body veggie-category">
                    <span><iconify-icon icon="ph:carrot" style="color: #23301e;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Veggie" class="card-link">Veggie Bowls</a>
                  </div>
              </div>
      </div>
          </div>
        </div>
</section>
<!-- Free delivery section -->
<section class="free-delivery mt-5">
    <div class="container bg-yellow">
        <div class="delivery d-flex justify-content-center align-items-center gap-4 p-3">
            <h5 class="fw-bold">Get free delivery on orders over {{ free_delivery_threshold }}!</h5>
            <a href="{% url 'products' %}" class="order-btn details-btn text-white">Order Now</a>
        </div>
    </div>
</section>
<!-- Products section -->
<section class="products">
    <div class="container justify-content-center align-items-center mx-auto mt-4">
      <div class="heading-box d-flex justify-content-between p-4 gap-3">
        <h2>Our Bowls</h2>
        <a href="{% url 'products' %}" class="bg-black rounded-5 text-white details-btn" style="width: 6rem;">See All</a>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
          <div class="row">
              <!-- Carousel for small screens -->
              <div id="productCarousel" class="carousel slide d-md-none" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <!-- Card 1 content -->
                      <div class="carousel-item active">
                          <div class="card product-box rounded-5" style="max-width: 350px; max-height: 540px;">
                              <img src="/static/media/buffalo-chicken-quinoa-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                              <div class="card-body p-2">
                                  <h5 class="card-title p-2" style="font-size: 1.5rem;">Buffalo Chicken Quinoa Bowl</h5>
                                  <a href="#" class="chicken-category p-1 mt-1 mx-2" style="font-size: .8rem;">Chicken Bowls</a>
                                  <div class="price-info d-flex align-items-center">
                                      <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">€15.00</p>
                                      <a href="#" class="bg-black rounded-5 text-white details-btn">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Card 2 content -->
                      <div class="carousel-item">
                          <div class="card product-box rounded-5" style="max-width: 350px; max-height: 540px;">
                              <img src="/static/media/coconut-shrimp-pineapple-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                              <div class="card-body p-2">
                                  <h5 class="card-title p-2" style="font-size: 1.5rem;">Coconut Shrimp Pineapple Bowl</h5>
                                  <a href="#" class="fish-category p-1 mt-1 mx-2" style="font-size: .8rem;">Fish Bowls</a>
                                  <div class="price-info d-flex align-items-center">
                                      <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">$20.00</p>
                                      <a href="#" class="bg-black rounded-5 text-white details-btn">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Card 3 content -->
                      <div class="carousel-item">
                          <div class="card product-box rounded-5" style="max-width: 350px; max-height: 540px;">
                              <img src="/static/media/beef-broccoli-brown-rice-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                              <div class="card-body p-2" style="font-size: 1.5rem;">
                                  <h5 class="card-title p-2">Beef Broccoli Brown Rice Bowl</h5>
                                  <a href="#" class="beef-category p-1 mt-1 mx-2" style="font-size: .8rem;">Beef Bowls</a>
                                  <div class="price-info d-flex align-items-center">
                                      <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">$25.00</p>
                                      <a href="#" class="bg-black rounded-5 text-white details-btn">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Card 4 content -->
                      <div class="carousel-item">
                          <div class="card product-box rounded-5" style="max-width: 340px; max-height: 540px;">
                              <img src="/static/media/chickpea-and-sweet-potato-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                              <div class="card-body p-2" style="font-size: 1.5rem;">
                                  <h5 class="card-title p-2">Chicken Pea Sweet Potato Bowl</h5>
                                  <a href="#" class="veggie-category p-1 mt-1 mx-2" style="font-size: .8rem;">Veggie Bowls</a>
                                  <div class="price-info d-flex align-items-center">
                                      <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">$30.00</p>
                                      <a href="#" class="bg-black rounded-5 text-white details-btn">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Previous and Next buttons -->
                  <button class="carousel-control-prev p-2" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon bg-black p-1" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
              <!-- Cards for larger screens -->
              <div class="col-12 d-none d-md-flex flex-wrap justify-content-center gap-4">
                <div class="card product-box rounded-5" style="max-width: 300px; max-height: 480px;">
                  <img src="/static/media/buffalo-chicken-quinoa-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                  <div class="card-body p-2">
                    <h5 class="card-title p-2">Buffalo Chicken Quinoa Bowl</h5>
                    <a href="#" class="chicken-category p-1 mt-1 mx-2" style="font-size: .8rem;">Chicken Bowls</a>
                    <div class="price-info d-flex align-items-center">
                    <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">€15.00</p>
                    <a href="" class="bg-black rounded-5 text-white details-btn">More Details</a>
                  </div>
                  </div>
                </div>
                <div class="card product-box rounded-5" style="max-width: 300px; max-height: 480px;">
                  <img src="/static/media/coconut-shrimp-pineapple-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                  <div class="card-body p-2">
                    <h5 class="card-title p-2">Coconut Shrimp Pineapple Bowl</h5>
                    <a href="#" class="fish-category p-1 mt-1 mx-2" style="font-size: .8rem;">Fish Bowls</a>
                    <div class="price-info d-flex align-items-center">
                    <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">€15.00</p>
                    <a href="" class="bg-black rounded-5 text-white details-btn">More Details</a>
                  </div>
                  </div>
                </div>
                <div class="card product-box rounded-5" style="max-width: 300px; max-height: 480px;">
                  <img src="/static/media/beef-broccoli-brown-rice-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                  <div class="card-body p-2">
                    <h5 class="card-title p-2">Beef Broccoli Brown Rice Bowl</h5>
                    <a href="#" class="beef-category p-1 mt-1 mx-2" style="font-size: .8rem;">Beef Bowls</a>
                    <div class="price-info d-flex align-items-center">
                    <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">€15.00</p>
                    <a href="" class="bg-black rounded-5 text-white details-btn">More Details</a>
                  </div>
                  </div>
                </div>
                <div class="card product-box rounded-5" style="max-width: 300px; max-height: 480px;">
                  <img src="/static/media/chickpea-and-sweet-potato-bowl.png" class="card-img-top rounded-5 p-3 mt-3" alt="...">
                  <div class="card-body p-2">
                    <h5 class="card-title p-2">Chicken Pea Sweet Potato Bowl</h5>
                    <a href="#" class="veggie-category p-1 mt-1 mx-2" style="font-size: .8rem;">Veggie Bowls</a>
                    <div class="price-info d-flex align-items-center">
                    <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">€15.00</p>
                    <a href="" class="bg-black rounded-5 text-white details-btn">More Details</a>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>  
    </div>
</section>
<!-- Testimonials section -->
<section class="testimonials">
    <div class="container justify-content-center align-items-center mt-4">
        <h2 class="p-4">What People Say</h2>
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center">
              <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                  <div class="carousel-inner col-6">
                      <div class="carousel-item active" style="max-height: 25rem;">
                          <div class="card bg-black">
                              <div class="card-body rounded-5 mx-auto p-3">
                                  <h5 class="card-title"><iconify-icon icon="icomoon-free:quotes-left" style="color: #eb6424;" width="30" height="30"></iconify-icon></h5>
                                  <h6 class="card-subtitle mb-2 text-white" style="font-size: 1.1rem;">Delicious flavors and fresh ingredients! The chicken bowl was a hit at our dinner table.</h6>
                                  <p class="card-text text-white">Amy Kalis</p>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item" style="max-height: 25rem;">
                          <div class="card bg-black">
                              <div class="card-body rounded-5 mx-auto p-3">
                                  <h5 class="card-title"><iconify-icon icon="icomoon-free:quotes-left" style="color: #eb6424;" width="30" height="30"></iconify-icon></h5>
                                  <h6 class="card-subtitle mb-2 text-white" style="font-size: 1.1rem;">Amazing fish bowl! The combination of ingredients was perfect. Prompt delivery and great service.</h6>
                                  <p class="card-text text-white">Alex Rodriguez</p>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="card bg-black">
                              <div class="card-body rounded-5 mx-auto p-3">
                                  <h5 class="card-title"><iconify-icon icon="icomoon-free:quotes-left" style="color: #eb6424;" width="30" height="30"></iconify-icon></h5>
                                  <h6 class="card-subtitle mb-2 text-white" style="font-size: 1.1rem;">Vegetarian bowl was a delight! Loved the variety of veggies and the flavorful dressing.</h6>
                                  <p class="card-text text-white">Emily Johnson</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
    </div>
</section>
<!-- Newsletter section -->
<section class="newsletter">
  <div class="container justify-content-center align-items-center mt-4">
    <h2 class="p-4">Subscribe to our newsletter</h2>
    <form class="row g-3">
      <div class="mb-3 col-12 col-md-8 mx-auto newsletter-box">
          <div id="emailHelp" class="form-text fw-bold mb-2 display-4">Never miss out on limited-time offers and special discounts!</div>
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <div class="input-group gap-2">
              <input type="email" class="form-control border-black rounded-1" id="exampleInputEmail1" aria-describedby="emailHelp">
              <button type="submit" class="btn btn-primary rounded-1 bg-black rounded-1 border-black col-12 col-md-3">Subscribe</button>
          </div>
      </div>
  </form>
  </div>
</section>
{% endblock %}