/* Adding asterisk to override default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* General styling */ 
body {
    background-color: #fff;
    overflow-y: auto;
}

/* Main content */
main {
    /* Makes main element large enough to push the footer down */
    flex: 1 0 auto;
    /* Enables child element to have flex properties */
    display: flex;
    flex-direction: column; /* Adjust the padding as needed based on the height of the messages container */
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Styles logo */
.logo-font-text {
    font-family: 'Playball', cursive;
}

.toast-container {
    position: fixed;
    top: 72px;
    left: 15px;
    z-index: 99999999999;
    border: 1px solid #191515;
    border-radius: .5rem;
}

.toast {
    overflow: visible;
}

.toast-body,
.toast-header {
    background-color: #E0E8E0;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Styles hero section */
.home {
    position: relative;
    top: 50px;
    background: url('/static/media/hero-image.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    width: 100%;
    height: 50vh;
}

.home .home-text {
    margin-top: 5rem;
}

.home-text h1 {
    font-size: 1.5rem;
    margin-bottom: .7rem;
    font-weight: 700;
}

.home-text p {
    font-size: 1rem;
    font-weight: 500;
}

/* Styles sections */
.categories,
.free-delivery,
.products,
.testimonials,
.newsletter {
    position: relative;
    top: 50px;
}

.product-detail {
    position: relative;
    top: 100px;
}

.product-details-container {
    padding: 1.5rem;
}

/* Styles cards in category section */
.category-card {
    width: 90%;
    height: 4rem;
    border-color: transparent;
    background-color: transparent;
}

.category-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .7rem;
    gap: .5rem;
    border: 2px solid;
    border-radius: 0.9375rem;
    font-size: 1rem;
    transition: .3s ease-in-out;
}

.category-body:hover {
    background-color: #191515;
    color: #fff;
}

.chicken-category {
    border: 2px solid #EB6424;
    background: #F1C4B6;
    color: #EB6424;
    font-weight: 600;
    border-radius: 0.9375rem;
}

.chicken-category a {
    color: #EB6424;
    font-weight: 600;
}

.fish-category {
    border: 2px solid #4078A1;
    background: #BFEDF7;
    border-radius: 0.9375rem;
    color: #4078A1;
    font-weight: 600;
}

.fish-category a {
    color: #4078A1;
    font-weight: 600;
}

.beef-category {
    border: 2px solid #C0522F;
    background: #F3B293;
    color: #C0522F;
    font-weight: 600;
    border-radius: 0.9375rem;
}

.beef-category a {
    color: #C0522F;
    font-weight: 600;
}

.veggie-category {
    border: 2px solid #23301E;
    background: #B1D6A2;
    color: #23301E;
    font-weight: 600;
    border-radius: 0.9375rem;
}

.veggie-category a {
    color: #57724C;
    font-weight: 600;
}

.product-box {
    border: 2px solid #191515;
    border-radius: 1.8rem;
    justify-content: center;
    align-items: center;
}

.product-box img {
    border-radius: 1.5rem;
    border-color: transparent;
}

.details-btn {
    width: 10rem;
    height: 2.5rem;
    font-weight: 500;
    border-radius: .5rem;
    font-size: 1rem;
    background-color: #191515;
    padding: .4rem;
    text-align: center;
}

.free-delivery {
    background-color: #E0E8E0;
}

/* Styles newsletter section */
.newsletter-box {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Styles footer */
.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    top: 150px;
    background-color: #57724C;
}

.logo-footer {
    font-size: 1.5rem;
}

#social-media,
#main-links {
    list-style-type: none;
    padding: 2rem;
}

#social-media a,
#main-links a {
    color: #fff;
}

#main-links li,
#social-media li {
    margin-top: .9rem;
}

.social-media-links i {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: .6rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Media queries */
@media (min-width: 768px) {
    .home-text h1 {
        font-size: 1.8rem;
    }

    .home-text p {
        font-size: 1.3rem;
        max-width: 30rem;
    }
}

@media (min-width: 992px) {
    .navbar-box {
        justify-content: flex-end !important;
    }

    .home-text h1 {
        font-size: 2.5rem;
    }

    .category-card {
        width: 17rem;
    }

    .product-details-container {
        padding: 0;
    }
}









