/* Adding asterisk to override default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* General styling */ 
body {
    background-color: #fff;
    overflow-y: auto;
}

/* Main content */
main {
    /* Makes main element large enough to push the footer down */
    flex: 1 0 auto;
    /* Enables child element to have flex properties */
    display: flex;
    flex-direction: column; /* Adjust the padding as needed based on the height of the messages container */
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
}

.delivery-banner {
    font-size: 1.2rem;
    color: #fff;
}

.home {
    position: relative;
    top: 50px;
    background: url('/static/media/hero-image.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
    height: 50vh;
}

.home .home-text {
    margin-top: 3rem;
    padding: .5rem;
    min-width: 18rem;
}

.home-text h1 {
    font-size: 3rem;
}

.home h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.logo-font-text {
    font-family: 'Playball', cursive;
}

.categories,
.products,
.testimonials {
    position: relative;
    top: 50px;
}

.category-card {
    width: 17rem;
    height: 4rem;
    border-color: transparent;
    background-color: transparent;
}

.category-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .7rem;
    gap: .5rem;
    border: 2px solid;
    border-radius: 0.9375rem;
    font-size: 1rem;
}

.chicken-category {
    border: 2px solid #EB6424;
    background: #F1C4B6;
    color: #EB6424;
    font-weight: 600;
    border-radius: 0.9375rem;
}

.chicken-category a {
    color: #EB6424;
    font-weight: 600;
}

.fish-category {
    border: 2px solid #4078A1;
    background: #BFEDF7;
    border-radius: 0.9375rem;
}

.fish-category a {
    color: #4078A1;
    font-weight: 600;
}

.beef-category {
    border: 2px solid #C0522F;
    background: #F3B293;
    color: #C0522F;
    font-weight: 600;
    border-radius: 0.9375rem;
}

.beef-category a {
    color: #C0522F;
    font-weight: 600;
}

.veggie-category {
    border: 2px solid #23301E;
    background: #B1D6A2;
    color: #23301E;
    font-weight: 600;
}

.veggie-category a {
    color: #23301E;
    font-weight: 600;
}

.product-box {
    border: 2px solid #191515;
    border-radius: 1.8rem;
    justify-content: center;
    align-items: center;
    background: #E0E8E0;
}

.product-box img {
    border-radius: 1.5rem;
}

.details-btn {
    width: 10rem;
    height: 2.5rem;
    font-weight: 500;
    border-radius: .5rem;
    font-size: 1rem;
    background-color: #191515;
    padding: .4rem;
    text-align: center;
}









