{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<section style="position: relative; top: 200px; min-height: 50vh;" class="p-3">
<h2 class="logo-font mb-4">{% trans "Sign Out" %}</h2>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="bg-black w-100 rounded-2 mt-2">{% trans 'Sign Out' %}</button>
  <a class="btn btn-outline-black border-black rounded-2 w-100 text-black mt-2" href="{% url 'homepage' %}">Cancel</a>
</form>
</section>

{% endblock %}
