{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<section style="position: relative; top: 150px; min-height: 50vh;" class="p-3">
<h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-black">sign in</a>.{% endblocktrans %}</p>

<form class="signup info-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="mt-2 w-100 rounded-2">{% trans "Sign Up" %}</button>
</form>
</section>

{% endblock %}
