{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock  %}
{% block content %}
<section class="cart" style="position: relative; top: 100px;">
    <div class="container justify-content-center align-items-center mt-4 p-4 mb-5">
        <h2>Contact Us</h2>
        <div class="container my-5">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <form method="post" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label for="your-name" class="form-label">Your Name</label>
                      <input type="text" class="form-control border-black" id="your-name" name="your-name" required>
                    </div>
                    <div class="col-md-6">
                      <label for="your-email" class="form-label">Your Email</label>
                      <input type="email" class="form-control border-black" id="your-email" name="your-email" required>
                    </div>
                    <div class="col-12">
                      <label for="your-message" class="form-label">Your Message</label>
                      <textarea class="form-control border-black resize-none" id="your-message" name="your-message" rows="5" required style="resize: none;"></textarea>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-6">
                          <button data-res="<?php echo $sum; ?>" type="submit" class="btn btn-dark w-100 fw-bold">Send</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
</div>
</section>
{% endblock  %}