{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- Categories section -->
<section class="categories" style="position: relative; top: 100px;">
    <div class="container justify-content-center align-items-center mt-4">
        <h2 class="p-4">Categories</h2>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card category-card mb-1">
                <div class="card-body category-body chicken-category">
                    <span><iconify-icon icon="fluent:food-chicken-leg-24-regular" style="color: #eb6424;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Chicken" class="card-link">Chicken Bowls</a>
                </div>
            </div>
            <div class="card category-card mb-1">
                <div class="card-body category-body fish-category">
                    <span><iconify-icon icon="mingcute:fish-line" style="color: #4078a1;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Fish" class="card-link">Fish Bowls</a>
                </div>
            </div>
            <div class="card category-card mb-1">
                <div class="card-body category-body beef-category">
                    <span><iconify-icon icon="mdi:beef" style="color: #c0522f;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Beef" class="card-link">Beef Bowls</a>
                </div>
            </div>
            <div class="card category-card mb-1">
                <div class="card-body category-body veggie-category category-link">
                    <span><iconify-icon icon="ph:carrot" style="color: #57724C;" width="30" height="30"></iconify-icon></span>
                    <a href="{% url 'products' %}?category=Veggie" class="card-link">Veggie Bowls</a>
                </div>
            </div>
        </div>        
          </div>
</section>
<!-- Products section -->
<section class="products" style="position: relative; top: 100px;">
    <div class="container justify-content-center align-items-center mx-auto mt-4">
        <h2 class="p-4">Our Bowls</h2>
        <div class="container d-flex justify-content-center align-items-center">
          <div class="row">
              <!-- Cards for larger screens -->
              <div class="col-12 d-md-flex flex-wrap justify-content-center gap-4">
                {% for product in products %}
                    <div class="card product-box rounded-5 mb-2" style="max-width: 300px; max-height: 480px;">
                        {% if product.image %}
                                <img class="card-img-top rounded-5 p-3 mt-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                                <img class="card-img-top rounded-5 p-3 mt-3" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                        {% endif %}
                        <div class="card-body p-2">
                            <h5 class="card-title p-2">{{ product.name }}</h5>
                            <a href="#" class="mt-1 mx-2 p-1 {% if product.category|lower == 'chicken' %}chicken-category{% elif product.category|lower == 'fish' %}fish-category{% elif product.category|lower == 'beef' %}beef-category{% elif product.category|lower == 'veggie' %}veggie-category{% else %}default-category{% endif %}" style="font-size: .8rem;">{{ product.category }} Bowls</a>
                            <div class="price-info d-flex align-items-center">
                                <p class="card-text p-3 fw-bold mt-2" style="font-size: 1.5rem;">€{{ product.price }}</p>
                                <a href="{% url 'product_detail' product.id %}" class="bg-black rounded-5 text-white details-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>  
    </div>
</section>
{% endblock %}
